@import "colors";

footer {
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.5rem;

    nav.footer-nav {
        gap: 2vw;
        align-self: center;
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        a {
            width: 3rem;
            height: 3rem;
            border-radius: 2rem;
            background-color: $color-5;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            i {
                font-size: 1.2rem;
                background-color: transparent;
                color: $color-3;
            }
        }
    }

    p {
        margin: 0;
        font-size: 0.75rem;
        background-color: transparent;
        color: $color-5;
        animation: heart-brain 3000ms 500ms ease-in-out;

        i {
            background-color: transparent;
            font-size: 0.75rem;
        }
        span {
            font-weight: bold;
            background-color: transparent;
            font-size: 0.75rem;
        }
    }
}
