@import "colors";

main {
    margin: 10vh 2vw;

    h2 {
        font-size: 1.5rem;
        font-style: italic;
    }

    section.grid {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-auto-rows: 300px;

        div {
            background-color: $color-3;
            color: $color-5;
            padding: 1rem;
            border-radius: 0.5rem;

            h3,
            p {
                background-color: transparent;
                margin: 0.5rem 0 0.5rem 0;
            }
        }

        @media screen and (min-width: 600px) {
            .card-tall {
                grid-row: span 2 / auto;
            }

            .card-wide {
                grid-column: span 2 / auto;
            }
        }
    }
}
