@import "colors";
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    a {
        width: 12.5rem;
        img {
            width: 100%;
            height: auto;
        }
    }
}