@import "colors";

main {
    margin: 10vw 0;
    color: $color-5;

    h2 {
        font-size: 1.5rem;
    }

    div.grid-container-study {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        row-gap: 1rem;
        column-gap: 1rem;

        article {
            background-color: $color-3;
            border-radius: 0.5rem;
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-evenly;

            section {
              background-color: $color-3;
                h3,
                p,
                span {
                    background-color: transparent;
                }
            }

            img {
                background-color: transparent;
                width: 50%;
                height: auto;
                align-self: center;
                justify-self: center;
            }
        }
    }

    div.grid-container-achivements {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        row-gap: 1rem;
        column-gap: 1rem;

        article {
            background-color: $color-3;
            border-radius: 0.5rem;
            padding: 1rem;

            h3,
            p,
            img {
                background-color: transparent;
            }

            a {
                background-color: transparent;
                color: $color-5;
                font-style: italic;
            }
        }
    }
}
