@import "colors";

main {
    margin: 10vh 0;
    color: $color-5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    picture {
        width: 20vw;
        
        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    div.p-description {
        background-color: $color-3;
        padding: 1rem;
        border-radius: 1.5rem;

        h2 {
            background-color: transparent;
            padding: 1rem;
            margin: 0;
            font-size: 1.5rem;
            font-style: italic;
        }

        p {
            background-color: transparent;
            padding: 1rem;
            margin: 0;

            span {
                font-weight: bold;
                background-color: transparent;
            }
        }
    }
}
