<footer>
  <nav>
    <a href="/"><i class="fa-solid fa-angle-left"></i></a>
    <a href="/contact"><i class="fa-solid fa-message"></i></a>
    <a href="/"><i class="fa-solid fa-angle-right"></i></a>
  </nav>

  <p>
    Made with
    <i class="fa-solid fa-heart"></i>
    <i class="fa-solid fa-brain"></i>
    <i class="fa-solid fa-hand-love"></i>
    by Facundo Bayona
  </p>
</footer>
