<!DOCTYPE html>
<html lang="en">
  include includes/head.pug
  <body>
    include includes/header.pug
    <main>
      <h2>Leave a message!</h2>
      div
        <form action="/" method="get">
          <fieldset>
            <textarea name="" id="" cols="30" rows="10" placeholder="Feel free of leaving a advise of CV improvement, a course you think is for me, a song you would like to share with me, or even a advise of life!"></textarea>
          </fieldset>
          <fieldset class='buttons'>
            <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            <button type="reset"><i class="fa-solid fa-trash"></i></button>
          </fieldset>
        </form>
        <p>
          a(href="https://mail.google.com/mail/?view=cm&source=mailto&to=facundobayonawork@gmail.com" target="_blank") 
            <i class="fa-solid fa-envelope"></i> facundobayonawork@gmail.com
          a(href="https://www.linkedin.com/in/facundo-bayona-web-developer/" target="_blank") 
            <i class="fa-brands fa-linkedin"></i> facundo bayona
          a(href="https://github.com/fbayona13" target="_blank") 
            <i class="fa-brands fa-github"></i> fbayona13
          a(href="tel:5493513888411") 
            <i class="fa-solid fa-phone"></i> (+54) 9 351-3888411
          
          img(src="/assets/numerotelefono.png", alt="numero-telefono-chat.svg")
        </p>
    </main>
    include includes/footer.pug
  </body>
</html>
