<!DOCTYPE html>
<html lang="en">
  <%- include ('./includes/head') %>
  <body>
    <%- include ('./includes/header') %>
    <main>
      <!-- SLIDER CON FOTOS DE LAS COSAS QUE HAGO EN MI TIEMPO LIBRE -->
      <h1>Other things I like to do</h1>

      <h3>Cooking hobbist</h3>
      <p>
        I love cooking, it's a passion that I have in my blood. My family has a
        long trajectory pasta factory (something like 40 years I belive).
      </p>
      <h3>1 to 2 hours of gym per day</h3>
      <p>
        I'm a strongly beliver that excercise is important for disconnect from
        work and relax the body. I usually do GYM and crossfit.
      </p>
      <h3>Traveler since born</h3>
      <p>
        From a young age, my parents take me to awesomes places in the world.
        Then, when I grow up was something I enjoy to do even if I have to do it
        by myself. No matter if is close to we're I live or in the other side of
        the world, I'm alway excited to the new adventure.
      </p>
      <h3>Design fan</h3>
      <p>
        It's like my rarity, I enjoy decorating spaces, restore furniture,
        thinking in how is made a construction. Someday, I would love to build
        something mine.
      </p>
    </main>
    <%- include ('./includes/footer') %>
  </body>
</html>
