<!DOCTYPE html>
<html lang="en">
  <%- include ('./includes/head') %>
  <body>
    <%- include ('./includes/header') %>
    <main>
      <aside>
        <img src="UTF" alt="mi-avatar" />
        <h3>Bayona Facundo</h3>
        <h4>Desarrollador web full stack</h4>
        <p>
          Este sitio web es mi curriculum, sea bienvenido a recorrerla para
          conocerme un poco mejor. Y si gusta al final hay un formulario para
          dejarme un mensaje y otras forma de contactarme.
        </p>
        <p>
          This web site is my curriculum, be welcome to wander round for knowing
          me better. And if you are pleased, in the end is a formulary for
          leaving me a message and others way to contact me.
        </p>
      </aside>
      <section>
        <nav>
          <a href="/whoIAm">Who I am</a>
          <a href="/studyAchivements">My studys and achivements</a>
          <a href="/professionalProfile">My professional profile</a>
          <a href="/swot">SWOT analysis</a>
          <a href="/freeTime">What I do in my free time</a>
          <a href="/jobExpectations">What are my job expectations</a>
          <a href="/contact">Contact information</a>
        </nav>
      </section>
    </main>
    <%- include ('./includes/footer') %>
  </body>
</html>
