<!DOCTYPE html>
<html lang="en">
  include includes/head.pug
  <body>
    include includes/header.pug
    <main>
      section 
        <h2>I'm looking a job on <span>Full Stack Web Development</span></h2>
        
        p Preferably as Junior Developer or entry-level developer, since it's my first job. I'm not specific about front end or back end because I'm still deciding what I wanna be. 
        
        p I'm open (and prefer) to learn new abilities and new roles inside and outside the company. I aspire to know how to work in the differents layers of web development and software development.
        
        p After researching and talking with companions that are in a similar situation, I think a competitive salary is between 900 and 1200 dollars.
      
      <aside>
        <h3>Description</h3>
        <p>Full Stack web developer - Jr. position</p>

        div
          h3 Recommended salary
          p(class= 'p-salary') U$D 1000
        <a href="/contact">CONTACT ME</a>
      </aside>
    </main>
    include includes/footer.pug
  </body>
</html>
