<!DOCTYPE html>
<html lang="en">
  <%- include ('./includes/head') %>
  <body>
    <%- include ('./includes/header') %>
    <main>
      <aside>
        <h3>Description</h3>
        <p>Full Stack web developer</p>
        <br />
        <h3>U$D 1000</h3>
        <a href="/contact">CONTACT ME</a>
      </aside>
      <h1>I'm looking a job on <span>Full Stack Web Development</span></h1>
      <p>
        Preferably a entry level job. I'm not specific about front end or back
        end because I'm still deciding what I wanna be.
      </p>
      <p>
        I'm open (and prefer) to learn new abilities and roles inside and
        outside the company.
      </p>
      <p>
        After researching and talking with companions that are in a similar
        situation, I think a competitive salary is between 900 and 1200 dollars.
      </p>
    </main>
    <%- include ('./includes/footer') %>
  </body>
</html>
