<!DOCTYPE html>
<html lang="en">
  include includes/head.pug
  <body>
    include includes/header.pug
    <main>

      aside 
        h2 Skills 
        div
          img(src="/assets/skills/CSS3_logo_and_wordmark.svg", alt="CSS3_logo_and_wordmark.svg")
          img(src="/assets/skills/HTML5_logo_and_wordmark.svg", alt="HTML5_logo_and_wordmark.svg")
          img(src="/assets/skills/Javascript-shield.svg", alt="Javascript-shield.svg")
          img(src="/assets/skills/pug-final-logo.svg", alt="pug-final-logo.svg")
          img(src="/assets/skills/logo-sass.svg", alt="logo-sass.svg")
          img(src="/assets/skills/react-logo.svg", alt="react-logo.svg")
          img(src="/assets/skills/MySQL_textlogo.svg", alt="MySQL_textlogo.svg")


      section 
        h2 Proyects
        div(class='inner-div-cards')
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image: url('/images/logosProfessional/logo-curriculum-trans.svg')"></div>
              <div class="flip-card-back">
                <h3>CURRICULUM</h3>
                <p>Este curriculum esta realizado con Sass, pug.js, MySQL</p>
                a(href="https://github.com/fbayona13/Curriculum") <i class="fa-brands fa-github"></i>
              </div>
            </div>
          </div> 

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image: url('/images/logosProfessional/LogoAlt.png')"></div>
              <div class="flip-card-back">
                <h3>FAST-BAR</h3>
                <p>Proyecto integrador DH. La idea es una app que permita la comercializacion de tragos en un bar</p>
                a(href="https://github.com/fbayona13/grupo.8.FastBar") <i class="fa-brands fa-github"></i>
              </div>
            </div>
          </div> 

    </main>
    include includes/footer.pug
  </body>
</html>
