<!DOCTYPE html>
<html lang="en">
  include includes/head.pug
  <body>
    include includes/header.pug
    <main>

      aside 
        h2 Skills 
        div
          img(src="/assets/skills/CSS3_logo_and_wordmark.svg", alt="CSS3_logo_and_wordmark.svg")
          img(src="/assets/skills/HTML5_logo_and_wordmark.svg", alt="HTML5_logo_and_wordmark.svg")
          img(src="/assets/skills/Javascript-shield.svg", alt="Javascript-shield.svg")
          img(src="/assets/skills/pug-final-logo.svg", alt="pug-final-logo.svg")
          img(src="/assets/skills/logo-sass.svg", alt="logo-sass.svg")
          img(src="/assets/skills/react-logo.svg", alt="react-logo.svg")
          img(src="/assets/skills/MySQL_textlogo.svg", alt="MySQL_textlogo.svg")


      section 
        h2 Proyects

      //- img(src="/assets/Programming-amico.svg", alt="")

    </main>
    include includes/footer.pug
  </body>
</html>
