<!DOCTYPE html>
<html lang="en">
  include includes/head.pug
  <body>
    include includes/header.pug
    <main>
      <h2>Studies</h2>
      <!-- HACER UNA TARJETA CON MIS ESTUDIOS -->
      <article>
        h3 College: Castelfranco
        p It's a bilingual school, focused in business administration and italian language. English language was relevant too.
        p From: <span>--</span> to: <span>2014</span>
      </article>

      <article>
        h3 University: Universidad Catolica de Cordoba
        p I was studying System Engineer, didn't finished yet
        p From: <span>2015</span> to: <span>2021</span>
      </article>

      <article>
        h3 Course: Digital House
        p I wanted to learn how to make full websites applications, so I started the Full Stack Development course to become a programmer
        p From: <span>April, 2022</span> to: <span>October, 2022</span>
      </article>

      <h2>Achievements</h2>
      <!-- HACER UNA TARJETA CON MIS LOGROS PERSONALES -->
      <article>
        h3 
        p 
      </article>
    </main>
    include includes/footer.pug
  </body>
</html>
