<!DOCTYPE html>
<html lang="en">
  <%- include ('./includes/head') %>
  <body>
    <%- include ('./includes/header') %>
    <main>
      <h1>SWOT analysis</h1>
      <h2>Why making a SWOT of me?</h2>
      <p>
        Is the perfect framework to analysis and resume my self as a person, and
        professinaly. It's important to know us and be realistic at the moment
        of criticize ourselves.
      </p>
      <div>
        <div>Strengths</div>
        <div>Weaknesses</div>
        <div>Opportunities</div>
        <div>Threats</div>
      </div>
    </main>
    <%- include ('./includes/footer') %>
  </body>
</html>
