<!DOCTYPE html>
<html lang="en">
  include includes/head.pug
  <body>
    include includes/header.pug
    <main>
      div(class='div-top')
        h2 Why making a SWOT of me?
        p Is the perfect framework to analysis and resume my self as a person, and professinaly. It's important know us and be realistic at the moment of criticize ourselves, as well as know what opportunities we have at our reach and the threats to confront.
        
      - var strengths = [`I speak English`,`I'm a loyal and honest person`, `I'm curious`, `I have good old fashion values`, `I'm ambitious`, `I'm a good listener`, `I have trust in me and my progress`];
      - var weaknesses = [`My English it's not perfect`, `I'm a perfeccionist`, `I get frustrated when the code don't work`, `My ambitious sometimes is too much`, `I overthink the situations / solutions`];
      - var opportunities = [`In the place where I live the tech and web development industry is growing`, `There's plenty new courses and news experiences for learning`];
      - var threats = [`More people are getting in tech and web development`, `The sociopolitical situation is volatile`];
      div(class='div-bottom')
        div(class='swot-class')
          h2 Strengths
          ul
            each strength in strengths 
              li= strength

        div(class='swot-class') 
          h2 Weaknesses
          ul 
            each weakness in weaknesses
              li= weakness 

        div(class='swot-class') 
          h2 Opportunities
          ul 
            each opportunity in opportunities
              li= opportunity 

        div(class='swot-class')
          h2 Threats 
          ul 
            each threat in threats
              li= threat 
      
    </main>
    include includes/footer.pug
  </body>
</html>
