<!DOCTYPE html>
<html lang="en">
  include includes/head.pug
  <body>
    include includes/header.pug
    <main>
      <h1>SWOT analysis</h1>
      <h2>Why making a SWOT of me?</h2>
      p Is the perfect framework to analysis and resume my self as a person, and professinaly. It's important to know us and be realistic at the moment of criticize ourselves.
      
      div
        div Strengths
        div Weaknesses
        div Opportunities
        div Threats

    </main>
    include includes/footer.pug
  </body>
</html>
