<!DOCTYPE html>
<html lang="en">
  <%- include ('./includes/head') %>
  <body>
    <%- include ('./includes/header') %>
    <main>
      <picture>
        <img src="" alt="mi-avatar" />
      </picture>

      <h2>Let's talk about me</h2>
      <p>
        Hey there! As you know, my name is Facundo but you can call me by one of
        my nicknames. I was born and raise in Cordoba Capital, Argentina. And
        actually I'm still living here, why? Well, I have two reasons.
      </p>
      <p>
        Firstly this, not so little, province is growing the tech industry so much
        that the better opportunities in the country are here. But I'm open to
        the idea of living in another country (Indeed I love the idea). I
        actually had traveled a small piece of world, and I can say that I'm
        addicted to knowing this world.
      </p>
      <p>
        Second, I would love to start and finish my degree in System Engineer
        someday. Or well, get a better especialization.
      </p>
      <p>
        I'm searching a job in Full Stack Development with the intention of
        learning differents abilities from the experience, grown as professional
        developer. And then, one day focus my self toward my proyects.
      </p>
    </main>
    <%- include ('./includes/footer') %>
  </body>
</html>
