<!DOCTYPE html>
<html lang="en">
  include includes/head.pug
  <body>
    include includes/header.pug
    <main>
      <picture>
        <img src="" alt="mi-avatar" />
      </picture>

      <h2>Let's talk about me</h2>
      
      p Hey there! As you know my name is Facundo. But you can call me by one of my nicknames. I was born and raised in Cordoba Capital, Argentina. Currently im living there. Why? Well, there are two motives.

      p <span>Firstly</span> this province is really improving in the tech industry so the best IT opportunities are developing here. Anyhow i'm open to relocation in another country. To be honest i did travel that much and i can say that it's an activity i really enjoy.
      
      p <span>Secondly</span> i would love to finish my degree in System Engineering someday. I'm one year ahead of achieving it and my University is here in Cordoba. Also i would like to get a better specialization.

      p I'm searching for a job in Full Stack Development with the interest of learning different abilities and skills from the experience, grow as professional developer. After gathering all this information i would like to focus towards my personal projects.
    
    </main>
    include includes/footer.pug
  </body>
</html>
